{% load static %}
<html>
    <head>
        <link rel='stylesheet' href="{% static 'main/styles.css' %}">
    </head>
    <body>
        <nav>
            <div>
                <img src="{% static 'images/bol.png' %}">
            </div>
        </nav>
        {% for tovaroved in tovarik %}
            <a href="{% url 'retail' my_id=tovaroved.id %}">
                Ваш товар: {{ tovaroved.nazv }} | <br>Описание товара: {{ tovaroved.opis }} | <br>Цена: {{ tovaroved.chena }}<br>
            </a>
        {% endfor %}
    </body>
</html>